@import "tailwindcss";

body {
  background-color: #272727;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 5px, 5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
