<% content_for :title, "Unmaintained Address" %>

<% content_for :warning do %>
    You have reached an unmaintained address. Please log out and contact support.
<% end %>

<p>You have reached an unmaintained address. Please log out and contact support.</p>