<% content_for :title, "Invalid Role" %>

<% content_for :warning do %>
    Your account role is invalid. Please log out and contact support.
<% end %>

<p> Your account role is invalid. Please log out and contact support.</p>